*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#0b1220;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

h1{
  color:#ff9800;
  font-size:32px;
}
